* {
  box-sizing: border-box;
}

/**header**/
header {
  background-color: rgb(27, 27, 27);
}

nav {
  display: flex;
  justify-content: space-around;
}

nav p img {
  width: 30%;
}

ul {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

/**hero image**/
.hero-image {
  background-image: url(/Assets/jake-melara-30679-unsplash.jpg);
}
